*{
  padding: 0;
  margin: 0;
  font-family: cursive;
}

body{
  background-color: rgb(215, 250, 255);
}
.front_page_Image{
  margin-top: 100px;
  background-color: rgb(215, 250, 255);
  display: flex;
  justify-content: center;

}
.siteName{
  display: flex;
  justify-content: center;
  
}
#siteName{
  font-family: cursive;
  font-size: 5rem;
  text-align: center;
}

.authButtons{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;

}
.btnauth{
  padding: 20px 50px;
  background-color: black;
  color: #d7faff;
  font-size: x-large;
  border-radius: 35px;
  font-weight: 700;
  text-decoration: none;
}

.btnauth:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.fpquote{
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
