*{
  padding: 0;
  margin: 0;
  font-family: cursive;
}

body{
  background-color: rgb(215, 250, 255);
}
.front_page_Image{
  margin-top: 100px;
  background-color: rgb(215, 250, 255);
  display: flex;
  justify-content: center;

}
.siteName{
  display: flex;
  justify-content: center;
  
}
#siteName{
  font-family: cursive;
  font-size: 5rem;
  text-align: center;
}

.authButtons{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;

}
.btnauth{
  padding: 20px 50px;
  background-color: black;
  color: #d7faff;
  font-size: x-large;
  border-radius: 35px;
  font-weight: 700;
  text-decoration: none;
}

.btnauth:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.fpquote{
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
.Signuppage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.input{
  display: flex;
  width: 30vw;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: 600;
}
.input input{
  height: 35px;
  width: 60%;
  font-size: x-large;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid black;

  /* font-size: large; */
}
.input input::placeholder{
  font-size: x-large;
  padding-left: 10px;
}
.signup-page-heading{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 100px;
} 
.registerbtn{
  padding: 15px 50px;
  font-size: x-large;
  background-color: black;
  color: #d7faff;
  border: none;
  border-radius: 35px;
  font-weight: 700;
  cursor: pointer;
}
.registerbtn:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}