* {
  padding: 0;
  margin: 0;
  font-family: cursive;
  /* color: white; */
}

body {
  background-color: rgb(215, 250, 255);
}

.front_page_Image {
  margin-top: 100px;
  background-color: rgb(215, 250, 255);
  display: flex;
  justify-content: center;

}

.siteName {
  display: flex;
  justify-content: center;

}

#siteName {
  font-family: cursive;
  font-size: 5rem;
  text-align: center;
}

.authButtons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;

}

.btnauth {
  padding: 20px 50px;
  background-color: black;
  color: #d7faff;
  font-size: x-large;
  border-radius: 35px;
  font-weight: 700;
  text-decoration: none;
}

.btnauth:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.fpquote {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.Signuppage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: 600;
}

.input input {
  height: 35px;
  width: 60%;
  font-size: x-large;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid black;

  /* font-size: large; */
}

.input input::placeholder {
  font-size: x-large;
  padding-left: 10px;
}

.signup-page-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 100px;
}

.registerbtn {
  padding: 15px 50px;
  font-size: x-large;
  background-color: black;
  color: #d7faff;
  border: none;
  border-radius: 35px;
  font-weight: 700;
  cursor: pointer;
}

.registerbtn:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logininputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logininput {
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: 600;
}

.logininput input {
  height: 35px;
  width: 60%;
  font-size: xx-large;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid black;
}

.logininput input::placeholder {
  font-size: x-large;
  padding-left: 10px;
}

.loginpage-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 100px;
}

.loginbtn {
  padding: 15px 50px;
  font-size: x-large;
  background-color: black;
  color: #d7faff;
  border: none;
  border-radius: 35px;
  font-weight: 700;
  cursor: pointer;
}

.loginbtn:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: white;
  background-color: rgb(21, 25, 25);
  /* opacity: 0.9; */
  font-size: x-large;
}
.siteNamefeedpage{
  background-color: black;
  color: #d7faff;
  font-size: xx-large;
  font-weight: 700;
  padding: 10px 0;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 100;
}

.feedpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  font-size: xx-large;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.feedsec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.feed {
  /* margin-top: 20px; */
  /* border: 2px solid rgb(255, 255, 255); */
  border-radius: 25px;
  padding: 20px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  background-color: #00000030;
}

.post {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid white; */
  background-color: black;
}

.image {
  /* margin-top: 40px; */
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  cursor: pointer;
}

.image img:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.navbox {
  position: sticky;
  top: 0;
  z-index: 100;
  /* opacity: 0.8; */
}

.postinfo {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  color: white;

}

.postopts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.like {
  cursor: pointer;
  font-size: xx-large;
  color: white;
}

.like:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.addpostbtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 20px 30px;
  background-color: black;
  color: #d7faff;
  font-size: x-large;
  border-radius: 35px;
  font-weight: 700;
  cursor: pointer;
  z-index: 100;
}
.addpostbtn:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#myusername{
  background-color: hsla(0, 0%, 0%, 0);
}
.addpost {
  padding: 15px 50px;
  font-size: x-large;
  background-color: black;
  color: #d7faff;
  border: none;
  border-radius: 35px;
  font-weight: 700;
  cursor: pointer;
}

.addpost:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.addpostinputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#image{
  width: 100%;
}
.addpostpage{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    font-size: large;
    align-items: start;
  }

  .post {
    width: 90%;
    height: auto;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  .image{
    height: auto;
  }
}